{{> ../navigation.hbs}}

<div class="by ahy">
  <div class="dq">
    {{> ../user-aside.hbs}}

    {{> ../wall-section.hbs}}

    {{> ../follower-aside.hbs}}

  </div>
</div>

{{> ../modals/msg.hbs}}

{{> ../modals/users.hbs}}

<form class="is-hidden" id="js-media-file-form">
  <input type="file" name="UploadForm[imageFile]" class="js-media-file" />
</form>

<div class="alerts-block"></div>

<footer>
  <p>&copy; 2017 Fintegro Company. All rights reserved.</p>
</footer>
